.tweet {
    border: 1px solid black ;
    padding: 20px;
    border-radius: 5px;
    margin: 40px 0px;
    color: black;
}
.divider {
    height: 2px;
    width: 100%;
    background-color: #e8e8e8;
}
.tweet_date {
    font-weight: 300;
    color: #535353;
}
.tweet_like {
    color: #535353;
    font-weight: 300;
}
.tweet_stats {
    display: flex;
    justify-content: space-between ;
}