.login h1 {
    margin-bottom: 30px;
    align-self: center;
    font-size: 33px;
    font-weight: bold;
    }
    
    .error {
        background-color: #e74c3c;
        color: white;
        border: 2px solid rgb(211, 34, 34);
        padding: 5px;
        border-radius: 2px;
    }
    .login_form {
        display: flex;
        flex-direction: column;
    }
    .login_form input {
       height: 50px;
       border-radius: 10px;
       padding: 2px 5px;
    }
    .login .input_field {
        margin: 10px 0px;
    }
    
    .login .input_btn {
        margin-top: 30pxh;
        background-color: #67afdf;
        border: none;
        outline: none;
        font-size: 22px;
        color: white;
        cursor: pointer;
    }
    .login p {
        text-align: center;
    }

    .login_switch {
font-weight: bold;
text-decoration: underline;
text-transform: uppercase;
cursor: pointer;
}